

.grid-item {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 2px;
}
.grid-item:hover {
    background-color: #f0f0f0;
}

.party-header {
    border-top: 3px solid black; /* Adjust thickness as needed */
    border-bottom: 1px solid black;
    padding-top: 20px;
    font-weight: bold;
    font-size: xx-large;
}

.main-container {
    padding-top: 30px;
}

@media (min-width: 200px) {
    .main-container {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
    }
}
@media (min-width: 600px) {
    .main-container {
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 15px;
    }
}
@media (min-width: 700px) {
    .main-container {
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 15px;
    }
}
@media (min-width: 1000px) {
    .main-container {
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 15px;
    }
}
@media (min-width: 1700px) {
    .main-container {
        padding-left: 600px;
        padding-right: 600px;
        padding-top: 15px;
    }
}

input[type='radio'] {
    transform: scale(1.5);
}




